@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-base {
    @apply py-2 px-4 rounded-md text-sm;
  }

  .btn-cancel {
    @apply inline-flex justify-center rounded-md border items-center border-blue-100 px-4 py-2 text-sm font-medium bg-slate-800;
  }

  .btn-save {
    @apply inline-flex justify-center items-center bg-main-gradient text-slate-700 fill-slate-700 px-4 py-2 font-medium rounded-md;
  }

  .main-wrapper {
    @apply pt-32 pb-28;
  }
}

/* =====FONT======= */

html {
  overflow: auto;
}

body {
  position: static !important;
  font-family: "Mulish", sans-serif;
}

.ion-page {
  display: unset !important;
  position: static !important;
}
